@model IEnumerable<LabMedico.Models.Cita>

@{
    ViewBag.Title = "Citas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @*@Html.ActionLink("Registrar", "Create")*@
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Analisis.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAplicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraAplicacion)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Analisis.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAplicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraAplicacion)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>*@
            <td>
                @*@Html.ActionLink("Edita", "Edit", new { id = item.CitaId }) |*@
                @Html.ActionLink("Detalles", "Details", new { id = item.CitaId }) |
                @Html.ActionLink("Cancelar", "Delete", new { id = item.CitaId }) |
                @Html.ActionLink("Nota", "PrintCita", new { id = item.CitaId })
            </td>
        </tr>
    }

</table>
