@model IEnumerable<LabMedico.Models.Cita>

@{
    ViewBag.Title = "ProcesaCitas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProcesaCitas</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Analisis.Nombre)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Clientes.NombreCompleto)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaAplicacion)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.HoraAplicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Analisis.Nombre)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Clientes.NombreCompleto)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAplicacion)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.HoraAplicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CitaId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CitaId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CitaId })
                    </td>*@
        </tr>
    }

    <tr>
        <td>
            @Html.ActionLink("Procesar", "RealizaProceso", "Clientes", htmlAttributes: new { @class = "btn btn-success" })
        </td>
    </tr>

</table>
