@model IEnumerable<LabMedico.Models.TecnicoCitas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CitaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TecnicoCitasId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TecnicoCitasId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TecnicoCitasId })
        </td>
    </tr>
}

</table>
