@*@model IEnumerable<LabMedico.Models.Sucursal>*@
@model IEnumerable<LabMedico.ViewModels.SucursalViewModel>
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Sucursales", FormMethod.Get))
{
    <p class="form-inline">
        Encontrar por nombre: @Html.TextBox("searchString", null, new { @class = "form-control" })
        <input type="submit" value="Buscar" class="form-control-static" />
    </p>
}

<p>
    @Html.ActionLink("Registrar", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroInterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroExterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colonia)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DelegacionMunicipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ZonaNombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Calle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroInterior)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroExterior)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colonia)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DelegacionMunicipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ZonaNombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.SucursalId }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.SucursalId }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.SucursalId })
            </td>
        </tr>
    }

</table>
